body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 20px;
    text-align: center;
    align-items: center;
}

h1 {
    color: darkslategrey;
}

p {
    color: grey;
}